:root {
  --primary-dark-color: #121212;
  --secondary-dark-color: #272727;
  --white-color: #FFF;
  --black-color: #000;
  --hover-color: #3f3f3f;
  --error-color: #B00020;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  background-color: var(--primary-dark-color);
  gap: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

header{
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px;
}

#title {
  color: var(--white-color);
}

input , button {
  border: none;
  color: var(--white-color);
  outline: none;
}

#inputs {
  display: flex;
  max-width: 22.125rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#task-text-input {
  width: 15rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--white-color);
  color: var(--black-color);
  font-size: 1rem;
}

#error-message {
  display: none;
  color: var(--error-color);
}

#add-task-btn {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  background-color: var(--secondary-dark-color);
  cursor: pointer;
  font-size: 2rem;
}

#add-task-btn:hover {
  background-color: var(--hover-color);
  transition: 250ms;
}

#tasks-list {
  display: flex;
  max-width: 50vw;
  flex-direction: column;
  align-items: center;
  color: var(--white-color);
  font-size: 1.4rem;
  gap: 1rem;
  list-style: none;
  text-transform: capitalize;
}

#tasks-list li {
  padding: 10px;
  word-break: break-all;
}
